style.css
nav a{
        color: darkblue;
        font-size: 25px;
        font-family:sanserif;
        text-align: center;
        font-size:italic;
} 

h1{
        color:darkblue;
        font-size: 45px;
        font-family:sanserif;
        text-align: center;
    }
    h2{
        color:darkblue;
        font-size: 60px;
        font-family:sanserif;
        text-align: center;
    }
   
    


    *{
        background-color:lightblue;
    }
    img{
        padding: 100px ;
    }
        table {
             border: solid black;
             margin: 50px;
             padding: 20px;
             font-size: larger;
             background-color: aliceblue;
             font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
         }
       th {
        background-color:skyblue ;
        border: 2px solid black; 
        padding: 16px;
         }
         td{
            border: 2px solid black;
            padding: 16px;
         }
                           



  