style.css
nav {
        color: darkblue;
        font-size: 15px;
        font-family:sanserif;
        text-align: right;
        font-size:italic;
} 

h1{
        color:darkblue;
        font-size: 45px;
        font-family:sanserif;
        text-align: center;
    }
    h2{
        color:darkblue;
        font-size: 60px;
        font-family:sanserif;
        text-align: center;
    }
    table {
        border: solid black;
        padding: 20px;
        margin: 50px;
        background-color: aliceblue;
        font-size: larger;
        font-family: 'Courier New', Courier, monospace;
    


    }
    *{
        background-color:lightblue;
    }
    img{
        padding: 46px;
    }
  